@charset "utf-8";
/* CSS Document */

body {margin:0 auto; padding:0; font-size:12px; font-family:\5FAE\8F6F\96C5\9ED1;}
ul,dl,dd,h1,h2,h3,h4,h5,h6,form,p,input{padding:0px; margin:0px; }
ul { list-style:none; }
img { border:0px; }
a {text-decoration:none; }
a {outline: none;}
a:active {outline: none;star:expression(this.onFocus=this.blur());}
.clearfloat{display:block;clear:both;height:0px;margin:0px;padding:0px;border:0px;}

.container{width:100%;margin:0 auto;background:#e8e9e9;}

/*广告图*/
.banner{overflow:hidden;}
.banner img{margin:0;float:left;}

/*内容部分*/
.container .content{width:1190px;margin:0 auto;position:relative;}

/*topcontent*/
.content .con_top{background:#fff;box-shadow:0px 2px 2px 0px #ccc;margin:20px 0;}
.content .con_top img{margin:15px;float:left;}
.content .con_top .top_right{float:left;width:530px;margin:15px;}
.content .con_top .top_right h3{font-size:23px;font-weight:500;}
.content .con_top .top_right .fenxiang{display:block;float:right;}
.content .con_top .top_right .fenxiang a{display:inline-block;float:left;margin:20px 0 20px 15px;}
.content .con_top .top_right .fenxiang a img{margin:0;height:20px;width:20px;}
.content .con_top .top_right p{line-height:25px;font-size:14px;color:#666666;text-indent:2em;}
.content .con_top .top_right .buy{text-align:center;margin:30px 0;}
.content .con_top .top_right .buy a{display:inline-block;background:#f0f0f0;font-size:16px;font-weight:bold;color:#369998;width:155px;height:40px;line-height:40px;}
.content .con_top .top_right .buy a:hover{background:#369998;color:#fff;}


/*topcontent*/
/*bottomcontent*/
.content .con_bottom{}
.content .con_bottom .con_btm_left{background:#fff;width:870px;float:left;padding:20px 0 50px 0;margin-right:20px;}
.menu_list{width:840px;margin:0 15px;background:url(../images/kaohe_img_06.png) 48px center repeat-y;}
.menu_head{
	width:760px;height:33px;line-height:33px;font-size:17px;color:#000;cursor:pointer;
	position:relative;padding-left:80px;margin:10px 0;   
	background:#f0f0f0 url(../images/kaohe_img_10.png) 35px center no-repeat;
}
.menu_list .current{background:#f0f0f0 url(../images/kaohe_img_03.png) 35px center no-repeat;}
.menu_body{height:auto;}
.buy_zj{position:absolute; right:9px;top:3px;display:inline-block;width:106px;height:25px;text-align:center;line-height:25px;border:solid 1px #369998;color:#369998;font-size:14px;}
.buy_zj:hover{background:#369998;color:#fff;}
.menu_body ul li{width:760px;height:25px;line-height:25px;font-size:14px;background:url(../images/kaohe_img_05.png) 45px center no-repeat;padding-left:80px;margin:17px 0;position:relative;}
.menu_body ul li:hover{background:url(../images/kaohe_img_05.png) 45px center no-repeat #9acccb;}
.menu_body ul li:hover span.buy{border:solid 1px #fff;color:#fff;}
/*.menu_body ul li a.buy_xj{float:right;margin:2px 20px 0 0;display:inline-block;width:48px;height:20px;text-align:center;line-height:20px;border:solid 1px #369998;color:#369998;cursor:pointer;}*/
.menu_body ul li a.buy_xj{float:right;margin:2px 8px 0 0;display:inline-block;width:48px;height:20px;text-align:center;line-height:20px;border:solid 1px #369998;color:#369998;}
.menu_body ul li a.buy_xj:hover{border:solid 1px #fff;color:#fff;}
.menu_body ul li .buy_title{float:left;color:#333;position:relative;}
.menu_body ul li img{position:relative;top:4px;margin-right:7px;}
.content .con_bottom .con_btm_right{width:300px;float:left;}
.con_btm_right .con_right_top{width:270px;background:#fff;box-shadow:0px 2px 2px 0px #ccc;margin-bottom:20px;padding:20px 15px;}
.con_btm_right .con_right_top h3{font-size:18px;color:#444444;font-weight:bold;border-bottom:solid 1px #dfdfdf;padding-bottom:15px;margin:0 15px;}
.con_btm_right .con_right_top .right_top_con{margin:10px 15px;}
.con_btm_right .con_right_top .right_top_con img{float:left;margin-right:10px;} 
.con_btm_right .con_right_top .right_top_con span{display:block;font-size:12px;color:#999999;margin-bottom:8px;}
.con_btm_right .con_right_top .right_top_con span img{position:relative;top:3px;}
.con_btm_right .con_right_top .right_top_con .right_title{font-size:13px;color:#333333;font-weight:bold;}
.con_btm_right .con_right_top ul{margin:0 15px;}
.con_btm_right .con_right_top ul li{float:left;width:49px;margin:10px 5px;height:70px} 
.con_btm_right .con_right_top ul li span{display:block;width:49px;overflow:hidden;white-space:nowarp;text-overflow:ellipsis;}

.fenye{margin:20px 0 10px 0;}
.fenye a{display:inline-block;padding:2px 8px;margin:0 10px;font-size:14px;color:#787d82;}
.fenye a:hover{background:#369998;color:#fff;}
.fenye a.avtive{background:#369998;color:#fff;}

/*bottomcontent*/
