@charset "utf-8";
/* CSS Document */

body {margin:0 auto; padding:0; font-size:12px; font-family:\5FAE\8F6F\96C5\9ED1;}
ul,dl,dd,h1,h2,h3,h4,h5,h6,form,p,input{padding:0px; margin:0px; }
ul { list-style:none; }
img { border:0px; }
a {text-decoration:none; }
a {outline: none;}
a:active {outline: none;star:expression(this.onFocus=this.blur());}
.clearfloat{display:block;clear:both;height:0px;margin:0px;padding:0px;border:0px;}

.container{width:100%;margin:0 auto;}

/*广告图*/
.banner{overflow:hidden;}
.banner img{margin:0;float:left;}

/*内容部分*/
.container .content{width:1190px;margin:20px auto;position:relative;}

/*leftcontent*/
.content_left{float:left;}
.content_left .left_top{border:solid 1px #ececec;margin-bottom:15px;background:#f8f8f8;}
.content_left .left_top .left_img{margin:10px 15px;height:82px;width:82px;float:left;}
.content_left .left_top .left_top_right{float:left;width:120px;margin-top:25px;}
.content_left .left_top .left_top_right .name{font-size:16px;margin-bottom:15px;display:block;color:#666666;font-weight:bold;}
.content_left .left_top .left_top_right .right_span{margin-right:5px;color:#fe6400;font-size:12px;}
.content_left .left_top .left_top_right .right_span img{position:relative;top:2px;margin-right:3px;}
.content_left .left_top .left_top_right .xb{font-size:12px;color:#666666;}


.lib_Menubox{width:235px;height:auto;z-index:20;font-family:\5FAE\8F6F\96C5\9ED1;float:left;background:#f2f2f2;}
.lib_Menubox .my_course li{display:block;cursor:pointer;color:#333333;font-size:14px;height:40px;line-height:40px;background:url(../images/foot_img_03.png) no-repeat;background-position:170px center;padding-left:60px;}
.lib_Menubox .my_course li.hover{cursor:pointer;background:url(../images/foot_img_04.png) no-repeat #e7e7e7;background-position:170px center;color:#439d97;padding-left:60px;border-left:solid 2px #369998;}
.lib_Menubox .my_course li.li_title{background:#e7e7e7;color:#4d4d4d;font-size:15px;font-weight:bold;text-align:center;padding:0;}

/*leftcontent*/
/*rightcontent*/
.content .lib_Contentbox{background:#fff;float:right;margin-left:15px;width:935px;border:solid 1px #eaeaea;}


/*我的课程*/
.lib_Contentbox #con_one_1 .lib_Contentbox_son ul li{float:left;width:213px;border:solid 1px #eaeaea;margin:15px 0 0 15px;overflow:hidden;}
.lib_Contentbox #con_one_1 .lib_Contentbox_son ul li a{display:block;color:#4d4d4d;}
.lib_Contentbox #con_one_1 .lib_Contentbox_son ul li .name{margin:10px 0 20px 5px;float:left;font-size:14px;font-weight:bold;width:150px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;text-align:left;}
.lib_Contentbox #con_one_1 .lib_Contentbox_son ul li .zice{float:right;width:50px;margin:10px 5px 0 0;border:solid 1px #339A99;color:#339A99;}
.lib_Contentbox #con_one_1 .lib_Contentbox_son ul li .zice:hover{background:#339a99;color:#fff;}
.lib_Contentbox #con_one_1 .lib_Contentbox_son ul li span{color:#808080;float:left;display:inline-block;margin:0 0 10px 10px;}
.lib_Contentbox #con_one_1 .lib_Contentbox_son ul li .list_img1{float:left;position:relative;top:2px;left:5px;}
.lib_Contentbox #con_one_1 .lib_Contentbox_son ul li .list_img2{float:right;margin:7px 5px 0 0;}

.lib_Contentbox .lib_Menubox_son{width:935px;border-bottom:solid 1px #eaeaea;height:auto;z-index:20;font-family:\5FAE\8F6F\96C5\9ED1;float:left;}
.lib_Contentbox .lib_Menubox_son ul li{float:left;cursor:pointer;font-size:15px;font-weight:bold;text-align:center;width:132px;height:45px;line-height:45px;background:#fff;border-right:solid 1px #eaeaea;}
.lib_Contentbox .lib_Menubox_son ul li a{color:#333;}
.lib_Contentbox .lib_Menubox_son li.hover{cursor:pointer;background:#369998;color:#fff;}
.lib_Contentbox .lib_Menubox_son li.hover a{color:#fff;}
.lib_Contentbox .lib_Menubox_son li.li_title{background:#e7e7e7;color:#4d4d4d;font-size:15px;font-weight:bold;text-align:center;padding:0;}


/*我的问答*/
.content .right_top{margin:15px 30px 0 30px;text-align:center;border-bottom:dotted 1px #d2d2d2;padding-bottom:15px;}
.right_top input{width:615px;height:35px;line-height:35px;border:solid 2px #eaeaea;}
.right_top .top_a{display:inline-block;width:100px;height:35px;text-align:center;line-height:35px;font-size:15px;color:#fff;font-weight:bold;margin-left:10px;*position:relative;top:-10px;}
.right_top .sac{background:#369998;}
.pl_bottom{margin:10px 30px 25px 30px;border-bottom:dotted 1px #d2d2d2;padding-bottom:25px;}
    .pl_left{float:left;width:500px;margin:20px 0 0 0;position:relative;}
    .pl_left .tx_img{float:left;margin:0 10px 0 0;border:solid 1px #d2d2d2;width:48px;height:48px;}
    .pl_left .title{font-size:23px;font-weight:500;}
    .pl_left .hot{display:inline-block;font-size:12px;width:55px;height:20px;background:#369998;color:#fff;text-align:center;line-height:20px;float:left;margin:0 5px;}
    .pl_left .hot_d{display:inline-block;font-size:12px;width:55px;height:20px;background:#fc8131;color:#fff;text-align:center;line-height:20px;float:left;margin:0 5px;}
    .pl_left .jb_name{float:left;font-size:12px;color:#999999;margin:0 10px 12px 20px;}
    .pl_left .jb_name img{position:relative;top:2px;margin-right:5px;}
    .pl_left .pl_con{float:left;position:absolute;top:35px;left:64px;}
.pl_bottom .btm_advance{float:right;margin:0;}
.pl_bottom .btm_advance span{display:inline-block;font-size:12px;margin-left:20px;color:#999999;}
.pl_bottom .btm_advance a{display:inline-block;font-size:12px;margin-left:20px;color:#999999;}
.pl_bottom .pl_content{text-align:left;text-indent:2em;line-height:25px;border:solid 1px #eaeaea;color:#000;padding:5px 10px;margin:5px 0;}

.fenye{margin:30px 0;text-align:center;}
.fenye a{display:inline-block;padding:2px 8px;margin:0 10px;font-size:14px;color:#787d82;}
.fenye a:hover{background:#369998;color:#fff;}
.fenye a.avtive{background:#369998;color:#fff;}


/*随堂笔记*/
.stbj_btm{margin:0 15px;}
.stbj_con_top{margin:15px 0;}
.stbj_con_top p{font-size:14px;color:#818181;}
.stbj_title{display:inline-block;font-size:14px;color:#369998;margin:0 10px;position:relative;top:5px;*top:0;width:120px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.stbj_con_top .stbj_top_right{display:inline-block;float:right;margin-top:5px;*position:relative;top:-24px;}

.stbj_con_btm{border:solid 1px #eaeaea;padding:10px;margin-bottom:40px;}
.stbj_con_btm span{display:inline-block;font-size:14px;color:#369998;}
.stbj_con_btm p{color:#818181;}


/*我的帖子*/
.lib_Contentbox_son{text-align:center;}
.left_rt_top{text-align:center;border-bottom:dotted 1px #eaeaea;margin:15px 30px 0 30px;padding-bottom:15px;}
.left_rt_top .date_text{width:185px;height:40px;border:solid 1px #eaeaea;}
.left_rt_top .date_btn{color:#369998;font-size:15px;font-family:\5FAE\8F6F\96C5\9ED1;width:80px;height:40px;border:solid 1px #eaeaea;background:#fff;margin:0 15px;}
.left_rt_top span{font-size:15px;color:#369998;}
.lib_Contentbox_son .left_rt_btm{border-bottom:solid 1px #e6e6e6;margin:0 15px;height:64px;line-height:64px;}
.lib_Contentbox_son .left_rt_btm img{float:left;margin:10px 20px 10px 0;height:44px;width:44px;}
.lib_Contentbox_son .left_rt_btm p{float:left;font-size:14px;color:#222222;}
.lib_Contentbox_son .left_rt_btm .p_right{float:right;color:#999999;line-height:22px;margin:10px;}


/*我的考核*/
.menu_list{width:900px;margin:15px;background:url(../images/kaohe_img_06.png) 48px center repeat-y;}
.menu_head{
	width:820px;height:33px;line-height:33px;font-size:17px;color:#000;cursor:pointer;
	position:relative;padding-left:80px;margin:10px 0;
	background:#f0f0f0 url(../images/kaohe_img_10.png) 35px center no-repeat;
}
.menu_list .current{background:#f0f0f0 url(../images/kaohe_img_03.png) 30px center no-repeat;}
.menu_body{height:auto;overflow:hidden;}
.menu_body ul li{width:820px;height:25px;line-height:25px;font-size:14px;background:url(../images/kaohe_img_05.png) 45px center no-repeat;padding-left:80px;margin:17px 0;}
.menu_body ul li:hover{background:url(../images/kaohe_img_05.png) 45px center no-repeat #9acccb;}
.menu_body ul li:hover a{border:solid 1px #fff;color:#fff;}
.menu_body ul li span{float:left;}
.menu_body ul li a{float:right;margin:2px 20px 0 0;display:inline-block;width:75px;height:20px;text-align:center;line-height:20px;border:solid 1px #369998;color:#369998;}

/*考核结果*/
.zice_table{width:910px;margin:20px 12px;}
.zice_table tr th{border:0;background:#9acccb;height:35px;line-height:35px;font-size:15px;color:#323232;font-weight:600;}
.zice_table tr td{border-right:dotted 1px #D7D7D7;border-bottom:dotted 1px #D7D7D7;background:#EAEAEA;height:35px;line-height:35px;font-size:14px;text-align:center;}


/*考核试题*/
.shiti_title{text-align:center;color:#369998;font-size:18px;margin:10px 0;}
.shiti_timu{font-size:14px;color:#3B3B3B;font-weight:bold;margin:0 0 15px 10px;}
.shiti_con{margin-left:10px;}
.shiti_con p{line-height:25px;font-family:宋体;}
.shiti_con input{margin-right:15px;position:relative;top:1px;}
.shiti_con p.ti_title{font-weight:bold;}
.shiti_submit{border:0;background:#369998;width:300px;height:35px;line-height:35px;color:#fff;font-size:14px;font-family:\5FAE\8F6F\96C5\9ED1;margin-bottom:20px;border-radius:5px;}

/*弹出分数*/
.score{ position:fixed;width:725px;height:270px;background:#439D97;border-radius:5px;top:50%;margin-top:-135px;left:50%;margin-left:-280px;}
.score .score_left{float:left;margin:50px 0 0 50px;}
.score .score_left h1{color:#FFFAEF;font-size:35px;}
.score .score_left h1 span{font-size:60px;font-style:italic;color:#D4166D;margin-right:5px;}
.score .score_left p{color:#FFF500;font-size:18px;}
.score .score_left a{display:block;width:127px;height:30px;line-height:30px;background:#BEF6F2;border-radius:15px;text-align:center;color:#4D4D4D;font-size:18px;margin-top:50px;}
.score img{float:left;margin-top:20px;}


/*账户中心*/
.czzh_top{margin:15px;padding:20px;bacoground:#f8f8f8;border:solid 1px #dcd6d6;}
.czzh_top h3{text-align:left;border-bottom:solid 3px #645d5b;padding-bottom:10px;font-size:15px;font-weight:500;color:#333333;}
.czzh_top .one{float:left;text-align:left;border-right:solid 1px #ccc;margin:40px 38px 20px 40px;padding-right:80px;}
.czzh_top .one .one_top{font-size:19px;color:#666;display:block;margin-bottom:10px;}
.czzh_top .one .one_btm{color:#cc0000;font-size:27px;font-weight:bold;}
.czzh_top .one .cz_btn{display:block;background:#369998;width:190px;height:42px;line-height:42px;color:#fff;font-size:16px;text-align:center;border-radius:3px;font-weight:600;margin-top:15px;}
.czzh_center{border-bottom:solid 1px #dbdbdb;text-align:left;margin:15px;padding-bottom:1px;}
.czzh_center span{display:block;width:137px;height:37px;text-align:center;line-height:37px;background:#369998;color:#fff;font-size:15px;font-weight:600;}
.czzh_btm{margin:0 15px;}
.czzh_btm table{width:900px;}
.czzh_btm table tr th{font-size:15px;color:#0a0706;border-bottom:solid 2px #dbdbdb;padding-bottom:15px;}
.czzh_btm table tr td{border-bottom:solid 1px #dbdbdb;text-align:center;font-size:14px;}
.czzh_btm table tr td img{margin-top:10px;}
.czzh_btm table tr td .td_top{display:block;font-size:14px;color:#333333;}
.czzh_btm table tr td .td_btm{font-size:12px;color:#999999;}
.czzh_btm table tr td .money{font-size:16px;font-weight:bold;color:#333333;}
.czzh_btm table tr td .order{color:#333;}
.czzh_btm table tr td .date{color:#666666;}
.czzh_btm table tr td .success{color:#666;display:block;margin-bottom:10px;}
.czzh_btm table tr td .delete{color:#006699;}

/*充值弹出框*/
#chongzhi_all{width:700px;margin:0 auto;background:#fff;z-index:100;position:fixed;top:50%;margin-top:-190px;left:50%;margin-left:-350px;display:none;border-radius:5px;text-align:left;border:solid 1px #f0f0f0;}
#chongzhi_all .chongzhi_title{background:#ebf5f5;border-radius:5px 5px 0 0;text-align:left;height:45px;line-height:45px;}
#chongzhi_all .chongzhi_title h2{display:inline-block;font-size:25px;color:#369998;font-weight:500;margin-left:20px;}
#chongzhi_all .chongzhi_title i{float:right;cursor:pointer;margin:15px;}
#chongzhi_all .chongzhi_con .con_top{border-bottom:solid 1px #ccc;margin:20px;}
#chongzhi_all .chongzhi_con .con_top p{margin:15px 20px;font-size:16px;font-weight:600;color:#666666;}
#chongzhi_all .chongzhi_con .con_top p span{color:#333333;}
#chongzhi_all .chongzhi_con .con_top p input{width:135px;height:35px;line-height:35px;border:solid 1px #ccc;margin-right:5px;}

#chongzhi_all .chongzhi_con .con_btm_title{background:#eff3f2;color:#666666;line-height:32px;height:32px;margin:0 20px;}
#chongzhi_all .chongzhi_con .con_btm_title p{font-size:15px;color:#666666;}
#chongzhi_all .chongzhi_con .con_btm_title p span{font-size:17px;color:#333333;font-weight:bold;margin:0 20px;}
#chongzhi_all .chongzhi_con .con_btm_con{margin:15px 20px;}
#chongzhi_all .chongzhi_con .con_btm_con ul li{float:left;margin-bottom:5px;}
#chongzhi_all .chongzhi_con .con_btm_con ul li input{position:relative;top:-8px;margin:0 5px;*margin:0 1px;}
#chongzhi_all .chongzhi_btm{border-top:solid 1px #cccccc;padding:20px 0;margin:0 20px;}
#chongzhi_all .chongzhi_btm a{display:block;float:right;width:105px;height:35px;text-align:center;line-height:35px;background:#369998;color:#fff;font-size:15px;border-radius:5px;}


.chongzhi{margin:80px;text-align:left;}
.chongzhi h3{font-size:18px;font-weight:500;color:#369998;margin:15px 0;}
.chongzhi p{line-height:35px;font-size:14px;color:#4d4d4d;}
.chongzhi p span{color:#fe7023;font-weight:bold;position:relative;top:2px;margin:0 5px;}


/*个人资料*/
.content #con_one_7{margin:15px;}
.person_left{float:left;width:230px;margin-left:30px;}
.person_left img{float:left;}
.person_left p{float:left;width:180px;margin:5px 10px;height:30px;line-height:30px;}
.person_left p span{font-size:14px;color:#9999b2;}
.person_left p a{display:block;margin:5px 0;width:106px;height:30px;text-align:center;line-height:30px;background:url(../images/teacher_img_04.png) no-repeat;font-size:14px;}
.person_left p a span{position:relative;color:#333333;left:7px;}
.person_left p .bc_btn{width:180px;height:30px;line-height:30px;border:solid 1px #dfdfdf;background:#369998;color:#fff;width:250px;height:35px;font-size:14px;font-family:\5FAE\8F6F\96C5\9ED1;}
.person_right{float:left;}
.person_right p{line-height:50px;}
.person_right p span{font-size:14px;color:#9999b2;display:inline-block;width:100px;text-align:left;}
.person_right p input{width:180px;height:30px;line-height:30px;border:solid 1px #dfdfdf;font-family:\5FAE\8F6F\96C5\9ED1;text-indent:1em;}
.person_right p a{display:inline-block;width:60px;height:20px;text-align:center;line-height:20px;background:#eeeeee;color:#333333;border:solid 1px #dfdfdf;}
.person_right p .person_select{width:90px;border:solid 1px #dfdfdf;height:23px;}
.person_right p .area_style{width:247px;height:80px;border:solid 1px #dfdfdf;margin-top:10px;*margin-top:5px;}
.person_right p .bc_btn{background:#369998;color:#fff;width:250px;height:35px;font-size:14px;font-family:\5FAE\8F6F\96C5\9ED1;text-indent:0;}
.person_right p .person_title{position:relative;top:-65px;}


/*安全中心*/
.content #con_one_8{margin:15px;}
.safe_top{background:#fffaef;border:solid 1px #efcf8a;color:#ef7500;font-size:15px;padding:15px;margin-bottom:20px;}
.safe_btm{background:#f8f8f8;border:dashed 1px #eaeaea;border-bottom:0;padding:10px 30px;}
.safe_btm h3{float:left;font-size:20px;color:#4d4d4d;margin:7px 40px 0 0;}
.safe_btm p{float:left;font-size:14px;color:#4d4d4d;margin-top:10px;}
.safe_btm a{float:right;font-size:16px;color:#369998;border:dotted 1px #369998;width:110px;height:40px;text-align:center;line-height:40px;font-weight:bold;}

/*two*/      
.safe_top p{color:#666666;line-height:30px;}
.safe_btm_two{}
.safe_btm_two .safe_con{text-align:center;}
.safe_btm_two .safe_con .safe_one{display:block;float:left;margin:20px 25px;}
.safe_btm_two .safe_con .safe_one span{display:block;font-size:14px;font-weight:bold;color:#a0a0a0;margin:40px 0 15px 0;}
.safe_btm_two .safe_con .safe_one a{display:inline-block;width:125px;height:35px;line-height:35px;background:#369998;color:#fff;font-size:14px;font-weight:bold;}
.safe_btm_two .safe_con .safe_one a.no_safe{background:#ea7600;}

.safe_btm_two .safe_con .safe_two{margin-bottom:30px;}
.safe_btm_two .safe_con .safe_two span{display:inline-block;font-size:14px;width:80px;text-align:left;color:#a59999;}
.safe_btm_two .safe_con .safe_two input{width:280px;height:30px;line-height:30px;border:solid 1px #dfdfdf;}
.safe_btm_two .safe_con .safe_two .two_btn{width:280px;height:30px;line-height:30px;border:0;background:#369998;color:#fff;font-size:14px;font-weight:bold;font-family:\5FAE\8F6F\96C5\9ED1;}


/*three*/
.safe_btm_two .safe_con .safe_two .yz_text{width:130px;height:30px;line-height:30px;border:solid 1px #dfdfdf;margin-right:10px;}
.safe_btm_two .safe_con .safe_two .yzm{display:inline-block;width:130px;height:30px;line-height:30px;text-align:center;background:#ff6600;border-radius:3px;color:#fff;font-size:14px;}

/*four*/
.safe_btm_two .safe_con .safe_qq{font-size:14px;color:#999999;font-weight:bold;}
